.text-5xl.uppercase.tracking-widest style="font-family: 'Open Sans Condensed', sans-serif;"
  | Nguyen Phu Cuong
.text-lg.uppercase.tracking-widest.bg-blue-800.text-white.py-1.mx-auto style='width: 500px;'
  | Ruby on Rails developer
