.text-5xl.uppercase.tracking-widest style="font-family: 'Open Sans Condensed', sans-serif;"
  | Cuong Nguyen
.text-lg.uppercase.tracking-wides.py-1.mx-auto style='width: 500px;'
  | Software Engineer
