p.text-justify
  | 5 years of experience in Rails, PostgresSQL, and React.
  | &nbsp;Interested in clean coding, writing tests, and performing code reviews.
  | &nbsp;Have a proven track record of reliably and on-time features delivery.
