p.text-justify
  | 6 years of developing start-up projects in Europe market using Rails, PostgresSQL, and React stack.
  | &nbsp;Interested in clean coding, design patterns, OOP.
  | &nbsp;Have a proven track record of reliably and on-time features delivery.
