doctype html
html
  head
    meta[http-equiv="Content-Type" content="text/html; charset=UTF-8"]
    title
      | Stewart
    link[rel="stylesheet" media="all" href="./style/application.css"]
    link[rel="stylesheet" media="all" href="./style/compiled_tailwind.css"]
    link[rel="stylesheet" media="all" href="./style/download_button.css"]
  body
    .a4-size
      .flex
        .col-4.p-0 class='w-1/3'
          /.widget.download-widget
            a.btn[href="https://github.com/stwart-nguyen/cv/raw/master/resource/Stewart%20Nguyen.pdf" target="_top"]
              svg.octicon.octicon-cloud-download[version="1.1" width="14" height="14" viewbox="0 0 16 16" aria-hidden="true"]
                path[fill-rule="evenodd" d="M9 12h2l-3 3-3-3h2V7h2v5zm3-8c0-.44-.91-3-4.5-3C5.08 1 3 2.92 3 5 1.02 5 0 6.52 0 8c0 1.53 1 3 3 3h3V9.7H3C1.38 9.7 1.3 8.28 1.3 8c0-.17.05-1.7 1.7-1.7h1.3V5c0-1.39 1.56-2.7 3.2-2.7 2.55 0 3.13 1.55 3.2 1.8v1.2H12c.81 0 2.7.22 2.7 2.2 0 2.09-2.25 2.2-2.7 2.2h-2V11h2c2.08 0 4-1.16 4-3.5C16 5.06 14.08 4 12 4z"]

              span
                | Download as PDF
          .content.biography.text-center.d-flex.flex-column.align-items-center
            .main-title
              .avatar
                img.rounded-circle[src="./resource/avatar.jpg"]
            .personal-information
              .section.contact
                .title
                  | CONTACT
                .details.font-smaller
                  .phone-number
                    | Tel: 0934001024
                  .email
                    | Gmail: npcuong.011308
                  .address
                    | Phu Nhuan Distric, HCMC
              .section.education
                .title
                  | EDUCATION
                .details
                  .school-name
                    b
                      | University of Science
                  .faculty.font-smaller
                    | Information Technology
              .section.skills
                .title
                  | Certificates
                .details.font-smaller.line-height-fit
                  | TOEIC - 805
              .section.skills
                .title
                  | SKILLS
                .details.text-left
                  ul.list-unstyled
                    li.details__skills
                      .font-smaller
                        | English
                      .progress
                        .progress-bar.bg-aqua[aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" style="width: 75%"]
                    li.details__skills
                      .font-smaller
                        | Rails
                      .progress
                        .progress-bar.bg-danger[aria-valuemax="100" aria-valuemin="0" aria-valuenow="62" role="progressbar" style="width: 62%"]
                    li.details__skills
                      .font-smaller
                        | git
                      .progress
                        .progress-bar.bg-dark[aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style="width: 60%"]
                    li.details__skills
                      .font-smaller
                        | HTML/CSS
                      .progress
                        .progress-bar.bg-info[aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 57%"]
                    li.details__skills
                      .font-smaller
                        | JavaScript
                      .progress
                        .progress-bar.bg-warning[aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" style="width: 40%"]
              .section.hobbies
                .title
                  | Hobbies
                .details
                  ul.list-unstyled.list-inline
                    li.list-inline-item
                      img.hobbies-image[src="./style/camera-63e2be0f1999a9f35557fa3b0ce4d1fa86ba875dd8b65c302c4f0ec592c13b9b.png"]
                    li.list-inline-item
                      img.hobbies-image[src="./style/dota-2-a5fb1872d541db80d168a3800ef558e0762924eb0d658d09840ef8069484a315.png"]
                    li.list-inline-item
                      img.hobbies-image[src="./style/rubiks-cube-e033c008396548951ff9167149ea8208cb6bff790ce808df9ae826bfaf2ecb61.png"]
        .col-4.p-0 class='w-2/3'
          .content.main-details.px-4
            .d-flex.flex-column.justify-content-center.main-title.text-center
              .title
                | Stewart Nguyen
              .job-title
                | Ruby on Rails developer
            .section.about-me
              .title
                | About me
              .details.description.text-justify
                p
                  | 1 year experience as a Rails developer, in charge of writing effective, readable and maintainable back-end as well as debugging and implementing fair front-end interface. Punctual, reponsible and flexible. Curious about the world.
            .section.experience
              .title
                | Experience
              .previous-job-information
                .company-name.font-weight-bold
                  a.text-dark-gray[href="http://www.goldenowl.asia/" target="_blank"]
                    | Golden Owl Consulting
                .work-period
                  | Mar 2018 - Present | 
                  i
                    | Ruby on Rails Developer 
                .details.font-smaller.text-justify
                  ul.list-unstyled.blockquote-style
                    li
                      | Collaborate and discuss customer's requirements closely with PA and team members.
                    li
                      | Develope new features and connect with other third-party services.
                    li
                      | Suggest simple but effective business logic, user interface base on customer's requirements
                    li
                      | Maintain, improve code quality and performance of application by reading and debugging through source code and library code.
                    li
                      | Identify new bugs as well as fix known bugs, devise solutions to these problems as fast as possible.
                    li
                      | Study and apply design principles for a clean and maintainable code.
            .section.projects
              .title
                | Projects
              .previous-job-information
                .company-name.font-weight-bold
                  a.text-dark-gray[href="https://getbiib.com/" target="_blank"]
                    | BiiB+
                .work-period
                  | Aug 2018 - Present 
                .details.font-smaller.text-justify
                  ul.list-unstyled.blockquote-style
                    li
                      | Role: maintainer, developer
                    li
                      | Teamsize: alone
                    li
                      | Skills used: Rails, PostgreSQL
                    li
                      | Achievement: improved dashboard experience and performance, make product's registration process automatically, intergrate third party apis (Billplz, Strava, Sendgrid)
