$paper-ratio: 1.4142135624;
$width: 794px;

$accent-border-color: #FFC70B;

body {
  font-family: 'Assistant', sans-serif;
}

.a4-size {
  height: $width * $paper-ratio;
  width: $width;
}

.custom-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
