$paper-ratio: 1.4142135624;
$width: 794px;

$accent-border-color: #FFC70B;

body {
  font-family: 'Assistant', sans-serif;
}

.a4-size {
  height: $width * $paper-ratio;
  width: $width;
}

.blockquote-style {
  border-left: 4px solid $accent-border-color;

  li {
    margin-left: 8px;
    margin-bottom: 8px;

    &::before {
      content: '\2014 \0020';
    }
  }
}
